@using Microsoft.AspNetCore.Identity
@using RecipeSiteAspNet.Areas.Identity.Data

@inject SignInManager<RecipeSiteUser> SignInManager
@inject UserManager<RecipeSiteUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-light" asp-controller="Administration" asp-action="CreateRecipe">Добавить рецепт</a>
        </li>

        <li class="nav-item">
            <a id="manage" class="nav-link text-light" asp-controller="Administration" asp-action="ManageRecipes">Управление рецептами</a>
        </li>

        <li class="nav-item">
            <a id="manage" class="nav-link text-light" asp-controller="Administration" asp-action="ManageCategories">Управление категориями</a>
        </li>

        <li class="nav-item">
            <a id="manage" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index">@UserManager.GetUserName(User)</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-light">Выйти</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" id="register" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" id="login" asp-area="Identity" asp-page="/Account/Login">Вход</a>
        </li>
    }
</ul>
